<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="internal-nlog.txt">

  <!-- Define the minimum log level here -->
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="console"
            layout="[${longdate}] [${level:uppercase=true}] [${threadid}] ${logger} - ${message}" />
    <target xsi:type="File" name="file"
            fileName="Logs/test-log-${shortdate}.log"
            layout="[${longdate}] [${level:uppercase=true}] [${threadid}] ${logger} - ${message} ${exception:format=ToString}"
            keepFileOpen="false"
            deleteOldFileOnStartup="true"/>
  </targets>

  <!-- Rules to map loggers to targets -->
  <rules>
    <!-- Log everything from Info and above to console -->
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>

</nlog>